body {
  background-color: #ebebeb;
}

.row {
  width: 70vw;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* padding: 0 3rem 0 3rem; */
}

.blok {
  width: 95%;
  height: 20%;
  border-radius: 10px;
  background-color: #ffffff;
  /* background-color: #e9e9e9; */
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

/* .blok-podaci {
  background-color: red;
}

.blok-grafovi {
  background-color: blue;
} */

.blok-vjezbe {
  display: flex;
  justify-content: space-around;
}

.blok-vjezbe__dani {
  background-color: blue;
}

.blok-vjezbe__gumbi {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blok-vjezbe__gumbi > a {
  display: block;
}

/* MODAL */

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 800px;
  max-width: 100%;
  text-align: center;
}

.modal h3 {
  margin: 0;
}

.modal input {
  margin: 15px 0 15px 0;
}
